:root{ /*declaramos las variables que vamos a utilizar*/

    /* color */
    --dark: #000;
    --medium: #333;
    --light: #fff;

    /* tipografía */

    /* medida */
    --gap: 20px;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* No modifica el contenido (?) */
}

body, html{
    font-family: var(--font);
}

h1, h2, h3, h4, h5, h6{
    font-weight: var(--bold);
}

.container{
    width: 98%;
    margin: 0 auto;
    border: 1px solid var(--dark);
}

.bg-dark

main > div {
    margin: calc(var(--gap) * 2) 0;
}